<!doctype html>
<html lang="en" <%- (typeof html_attribute !== 'undefined' ? html_attribute : '') %> >
<head>
    <%- include('./title-meta') %>
    <%- (typeof extra_css !== 'undefined' ? extra_css : '') %>
    <%- include ('./head-css') %>
</head>

<body <%- (typeof body_attribute !== 'undefined' ? body_attribute : '') %>>

<div class="wrapper">
    <%- include ('./menu') %>
    
    <div class="page-content">

        <div class="page-container">

            <%- (typeof content !== 'undefined' ? content : '') %>

        </div>

        <%- include ('./footer') %>
    </div>

</div>

<%- include('./customizer') %>

<%- include ('./footer-scripts') %>
<%- (typeof extra_javascript !== 'undefined' ? extra_javascript : '') %>

</body>
</html>
